* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://source.unsplash.com/random/1920x900/?weather");
}
.bigger-box {
  background-color: #000000;
  opacity: 0.8;
  border-radius: 25px;
  padding: 20px;
  width: 95%;
  max-width: 450px;
}

.search-input {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 25px;
  font-size: px;
  background-color: #7c7c7c2b;
  color: #ffffff;
  width: calc(100% - 100px);
}

.search-button {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 50px;
  background-color: #7c7c7c2b;
  cursor: pointer;
  float: right;
}

.search-img {
  width: 20px;
}

.medium-box {
  margin-top: 30px;
}

.city {
  color: #ffffff;
  font-size: 28px;
  font-weight: 300;
}

.temp {
  font-size: 20px;
  color: #ffffff;
  margin-top: 20px;
}

.small-box {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.forecast-txt {
  color: #ffffff;
  margin-left: 20px;
  text-transform: capitalize;
}

.humidity {
  color: #ffffff;
  margin-top: 20px;
}
